<footer>
  <p>Footer goes here.</p>
  <script>
    window.addEventListener("resize", function(){
    document.getElementsByTagName('main')[0].style.marginTop = document.getElementById('nav').clientHeight.toString() + 'px';
  });

  window.addEventListener('keyup', function(e){
    if(e.keyCode == 37){
      document.getElementById('prev').click();
    }
    if(e.keyCode == 39){
      document.getElementById('next').click();
    }
  });
  </script>
  <script>
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('{{ site.baseurl }}/sw.js')
        .then(function() {
              console.log('Service Worker Registered');
        });
    }
  </script>
  <script>
      document.getElementById('right').addEventListener('click', function(){
        if(document.getElementById('menu').style.display != 'block'){
          // Display menu
          document.getElementById('menu').style.display = 'block';
          document.getElementById('prev').style.display = 'none';
          document.getElementById('next').style.display = 'none';
          document.getElementsByTagName('main')[0].style.position = 'fixed';  // Prevent scrolling while menu is visible
        }
        else{
          // Hide menu
          document.getElementById('menu').style.display = 'none';
          document.getElementById('prev').style.display = 'block';
          document.getElementById('next').style.display = 'block';
          document.getElementsByTagName('main')[0].style.position = 'static';  // Allow scrolling while menu is not visible
        }
      });
  </script>
</footer>
