<header>
  <div id="nav">
    <img id='hmbgr' src='{{site.baseurl}}/assets/css/hmbgr.svg' alt='menu icon'></img>
    <a id = "logo" class="tab" href="#home">OER.MD<span>/</span></a>
    <a class="tab" href="#news">{{site.title}}<span>/</span></a>
    <a class="tab" href="#about">{{page.title}}</a>
    <a id="download" class="tab right" href="#">DOWNLOAD</a>
    <a class="tab right" href="/search.html">SEARCH<span>/</span></a>
    <a class="tab right" href="#">CONTENTS<span>/</span></a>
  </div>
</header>
