<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="{{ site.theme_color }}"/>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">


	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="manifest" href="{{site.baseurl}}/assets/manifest.json">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
	<!--<link rel="stylesheet" href="{{ "/css/lit.css" }}">-->
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">
	<!--<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">-->
</head>

{% capture toc %}
<ul>
{% assign i = 0 %}
{% for page in site.html_pages %}
	{% for item in site.html_pages %}
		{% assign filename = item.name | replace: '.md','' | split: '--' %}
		{% assign number = filename[0] | plus: 0 %}
		{% assign name = filename[1] %}
		{% if number == i %}
			<li><a href="/_pages/1/{{item.name | replace: '.md', '.html'}}">{{ name | default: item.title | default: item.name }}</a></li>
			{% break %}
		{% endif %}
	{% endfor %}
	{% assign i = i | plus: 1 %}
{% endfor %}
</ul>
{% endcapture %}
