<header>
  <div id="nav">
    <div id="left">
      <a class="tab" href="/">{{site.title}}</a>
      <a class="tab" href="/">{{page.title}}</a>
    </div>
    <div id="right">
      <div id="menu_button">MENU</div>
    </div>
  </div>
  <div id="menu">
    <div class="row"><a class="tab" href="/">{{site.title}}</a></div>
    <div class="row"><a class="tab" href="/">{{page.title}}</a></div>
    <div class="row"><a class="tab" href="/">SEARCH</a></div>
    <div class="row"><a class="tab" href="/">DOWNLOAD</a></div>
    {% for page in site.html_pages %}
      {% for item in site.html_pages %}
        {% assign yep = page.name | replace: '.md','' | plus: 0 %}
        {% if yep == forloop.index %}
    <div class="row"><a class="tab" href="/">{{ page.date }}</a></div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</header>
