<header>
  <div id="nav">
    <div id="left">
      <a class="tab" href="/">{{site.title}}</a>
      <a class="tab" href="/">{{page.title}}</a>
    </div>
    <div id="right">
      <div id="menu_button">MENU</div>
    </div>
  </div>
  <div id="menu">
    <div class="row util"><a class="tab" href="/">SEARCH</a></div>
    <div class="row util"><a class="tab" href="/">DOWNLOAD</a></div>
    <ul>
      {{ site.toc }}
    </ul>
    <div class="row"><a class="tab" href="/">{{ page.name | replace: '.md', '' }}</a></div>
  </div>
</header>
