html{
  background-color: #FFF;
}
body{
  width: 100%;
  font-size: 16px;
  font-family: "Helvetica";
  line-height: 1.5em;
  margin: 0px;
  padding: 0px 0px 50px 0px; /*Required for sticky footer*/
  position: relative;        /*Required for sticky footer*/

}
main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 33em;
  padding: 5em 1em 1em 1em;
  left: 0;               /* Required for .main to maintain position while position == fixed –for use when displaying menu */
  right: 0;              /* Required for .main to maintain position while position == fixed –for use when displaying menu */
  margin-left: 0 auto;   /* Required for .main to maintain position while position == fixed –for use when displaying menu */
  margin-right: 0 auto;  /* Required for .main to maintain position while position == fixed –for use when displaying menu */
}
footer{
  display: block;
  background-color: #595959;
  width: 100%;
  height: 3em;
  position: absolute;
  bottom: 0px;
}
h1, h2, h3, h4, h5, h6{
  font-family:'Arial', 'sans-serif';
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 2em);
  max-height: 66em;
  padding-left: 1em;
  padding-right: 1em;
}
img + em{
  color: #595959;
  font-size: .9em;
  text-align: center;
  line-height: 1.25em;
  display: block;
  margin-left: 2em;
  margin-right: 2em;
}
.adv{
  position: fixed;
  top: 3em;
  width: 6em;
  height: 100%;
  margin: 0px;
  color: #595959;
  text-decoration: none;
  padding-top: calc(50vh - 50px);
}
.adv:hover{
  color: #DDD;
}
#prev{
  left: 0px;
  margin-left: calc(50vw - 25em);
  padding-left: 1em;
  text-align: left;
}
#next{
  right: 0px;
  margin-right: calc(50vw - 25em);
  padding-right: 1em;
  text-align: right;
}
/* Add a black background color to the top navigation */
#nav{
  display: block;
  position: fixed;
  top: 0em;
  left: 0em;
  z-index: 2;
  width: calc(100% - 2em);
  background-color: #FFF;
  overflow: hidden;
  padding: 1em;
}
#nav #left{
  float: left;
  margin-left: calc(50vw - 25em);
}
#nav #right{
  position: fixed;
  right: 1em;
  margin-right: calc(50vw - 25em);
}
#nav #right:hover{
  cursor: pointer;
}
#nav a{
  color: #000;
  text-decoration: none;
}
#nav a:visited{
  color: black;
}
#menu{
  display: none;
  position: fixed;
  top: 0em;
  left: 0em;
  z-index: 1;
  padding: 0em 1em 1em 1em;
  margin-top: 3em;
  text-align: left;
  width: calc(100% - 2em);
  height: 100%;
  background-color: rgba(255,255,255, 0.75);
  overflow-y: scroll;
}
#menu .row{
  line-height: 2em;
  font-size: 1.5em;
  margin-left: calc(50vw - 16.68em);
}
#menu .row a{
  color: #000;
  text-decoration: none;
  display: block;
  width: 33em;
  float: left;
}
#results a{
  text-decoration-line: none;
  color: black;
}
#results h3{
  margin-bottom: 0px;
}
#results p{
  margin-top: 0px;
}

/* Small Screen Rules*/
@media screen and (max-width: 800px) {
  main{
    padding-bottom: 50px;
  }
  article {
  }
  #nav{
    padding: 1em;
    height: 1.5em;
  }
  #nav #left{
    display: none;
  }
  #nav #right{
    display: block;
    width: calc(100% - 2em);
    text-align: center;
    margin-right: 0em;
  }
  #menu .row{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #menu .row a{
    display: flex;
    width: 100%;
  }
  .adv{
    position: absolute;
    top: initial;
    bottom: 50px;
    width: 50%;
    height: 25px;
    display: block;
    margin-top: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


/* Print Rules*/
@page {
  margin: 0;
}
@media print {
  footer {
    position: fixed;
    bottom: 0;
  }
  header {
    position: fixed;
    top: 0;
  }
}
