---
layout: null
permalink: /toc.html
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include header.html %}
	<main>
		<article>
			<h1>{{ site.title }}</h1>
			<h2>{{ site.subtitle }}<h2>
		  <h3>{{ site.author }}</h3>
		  <h4>{{ site.license }}</h4>
			{% capture site.toc %}
			{% assign i = 0 %}
	    {% for page in site.html_pages %}
	      {% for item in site.html_pages %}
	        {% assign filename = item.name | replace: '.md','' | split: '--' %}
	        {% assign number = filename[0] | plus: 0 %}
	        {% assign name = filename[1] %}
	        {% if number == i %}
	          <li><a href="/_pages/1/{{item.name | replace: '.md', '.html'}}">{{ name | default: item.title | default: item.name }}</a></li>
	          {% break %}
	        {% endif %}
	      {% endfor %}
	      {% assign i = i | plus: 1 %}
	    {% endfor %}
			{% endcapture %}
			<ul>
				{{ site.toc }}
			</ul>
		</article>
		{% include footer.html %}
	</main>
</body>

</html>
